<?php
/**
 * 
 * @package Eddy test 1
 * @version 1.0.0
*/
/*
Plugin Name: eddy_test_1
Description: Une extension simple qui ajoute une boîte dans un contenu
Plugin URI: https://referenced.ca
Author: Eddy Martin
Author URI: https://github.com/eddytuto
Version: 1.0.0
*/